<ion-content>

    <ion-list>
        <ion-list-header>News</ion-list-header>
        <ion-list *ngFor="let singleNews of news">
            <ion-card *ngFor="let compNews of singleNews">
                <ion-slides pager>
                    <ion-slide>
                        <ion-card-content>
                            <h2>{{ compNews.headline }}</h2>
                        </ion-card-content>
                        <ion-item>
                                <ion-note>Related: {{ compNews.related }}</ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-note item-left>{{compNews.datetime | timeAgo }}</ion-note>
                            <ion-note item-end>Source: {{ compNews.source }}</ion-note>
                        </ion-item>
                    </ion-slide>
                    <ion-slide>
                            <ion-card-content>
                        <h2>{{compNews.summary}}</h2>
                        </ion-card-content>
                        <ion-item>
                                <ion-note item-left>{{compNews.datetime | timeAgo }}</ion-note>
                                <ion-note item-end>Source: {{ compNews.source }}</ion-note>
                            </ion-item>
                    </ion-slide>
                </ion-slides>
            </ion-card>
        </ion-list>
    </ion-list>
</ion-content>